/* Ensure the body takes the full height and reset some default styles */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Styling for home page banner */
.home-img {
    width: 100%;
    height: auto;
    max-height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Mission Title styling */
h1.mission-title {
    margin-left: 25px;
}

/* Mission Statement styling */
p.mission {
    margin: 20px;
    padding: 25px;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.9) 0 0 10px;
    background-color:cornsilk;
}

/* Media + Description styling below */
.parent {
  margin-top: 3rem;
  padding: 1rem;
  display: flex; /* Display children side by side */
  flex-wrap: wrap; /* Allow children to wrap to the next line if the screen is too narrow */
}

.child {
  padding: 1rem;
  flex: 1; /* Distribute available space equally among children */
  box-sizing: border-box; 
}

/* Embedded media element styling */
.float-video {
  margin-left: 15px;
  margin-right: 2rem;
  width: 560px;
  height: 315px;
  max-width: 560px; 
}

/* Video description styling */
p.descr {
  font-size: 15px;
  padding: 25px;
  min-width: 500px;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,0.9) 0 0 10px;
  background-color: #966F33;
  color: white;
}

/* Take Quiz Button styling */
.btn {
  font-size: 18px;
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
  .parent {
    flex-direction: column; 
  }
  .child {
    flex: 0; 
    width: 100%; 
  }
}

/* resources page */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  border-radius: 15px;
  border-width : 0;
}

.cardback{
  margin-top:10%;
  border-radius: 15px;
}

.learnmore {
  padding-left: 10px;
}

/* Header */
header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #3A3B4D;
  text-align: left;
}

/* Modal stuff */

/* Style for the login page */
.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}


/* Style for the register page
.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: black;
  background-color: #4285f4;
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
} */

/* Style for the quiz results page */
.card-charities {
  flex-wrap: nowrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-color: #dcdcdc46; /*can add image for background as well */
  border-radius: 20px;
  }

.card-charities > div {
  margin: 10px;
  border-radius: 65px;
}

.card-charities, a {
  text-decoration: none;
  color: black;
}

.charityhead {
  margin: 50px;
  font-weight: bold;
}



